@model ExtendHealth.Web.Models.Home.ContactsViewModel

@{
    ViewBag.Title = "Contacts";
}

<p>@Html.ActionLink("Users", "Index")</p>

<h1>Contacts</h1>

<div>
    @foreach (var contact in Model.Contacts)
    {
        <p>@contact</p>
    }
</div>