@model dynamic

@{
    ViewBag.Title = "Index";
}

<h1>Index</h1>

<div>
    <h2>@Model.TotalOnline Users Online</h2>
    <h3>Admins</h3>
    <div>
        @foreach(var user in Model.UserList)
        {
            <p>@user</p>
        }
    </div>
</div>